Django
djangorestframework
django-filter
django-extensions
django-cors-headers
django-cors-headers
dj-rest-auth
django-allauth
pytest-rabbitmq
requests
coverage
pika
Faker
psycopg2-binary
docutils
pyyaml 
uritemplate